html {
  font-family: sans-serif;
}

body {
  background-color: #2d2d30;
  color: #ccc;
  transition: all 2s;
}

a {
  color: mediumpurple;
  text-decoration: underline;
}

.light-theme {
  background-color: #eee;
  color: #333;
}

.light-theme a {
  color: blue;
}

.half-screen {
  width: 45%;
}

.right {
  float: right;
  margin-right: 2.5%;
}

.left {
  float: left;
  margin-left: 2.5%;
}

.full-height {
  height: 95vh;
}

#text-editor-container {
  transition: all 2s;
}

.instructions {
  padding-right: 20px;
  font-size: 1.2rem;
}

.center{
    text-align: center;
}
.container{
    padding: 3rem;
}
.purple{
    color: mediumpurple;
}
.example{
    background-color: #555;
    padding: 1rem;
}

.btn-container {
  display: flex;
}

.btn,
.light-theme .btn {
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #555;
  /* border: 1px #000 solid; */
  border: none;
  border-radius: 5px;
  padding: 10px;
  margin: 10px;
  color: #eee;
  font-size: 1.5rem;
  cursor: pointer;
  font-family: monospace;
  transition: all 2s;
}

.light-theme .btn {
  background-color: #fff;
  color: #000;
}

.contributing p {
  padding-right: 20px;
  font-size: 1.2rem;
}
